.tooltip {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  transition: .2s;
}

.tooltip:hover{
  background-color: #0852d0;
  transition: .2s;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;

  bottom: 105%;
  left: 40%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.5em;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext:hover{
  display: none;
}

.animesOFF{
  color: black;
}